.disclaimer-card {
	&__statement {
		text-align: center;
		line-height: 1.8;
		padding: 1.25rem 0;
		font-size: 0.875rem;
	}

	&__button {
		padding-top: 0.875rem;
	}

	&__title { 
		text-align:  center;
	}
}